@model IEnumerable<LMS_ConsumeAPP.Application.DTOs.AuthorDTO.AuthorDto>

@{
    ViewData["Title"] = "IndexAuthor";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateAuthor">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                    <a asp-action="EditAuthor" asp-route-id="@item.AuthorId" class="btn btn-primary">Edit</a> |
                    <a asp-action="DetailsAuthor" asp-route-id="@item.AuthorId" class="btn btn-primary">Details</a> |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
